src/main/mule/bookings-sys-Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="GET_Bookings" doc:id="ddae0cbb-e9ee-4c38-bcfa-f747961dbb69" >
		<logger level="INFO" doc:name="Logger" doc:id="ab4ebdd6-d11a-4333-9081-e49bce29f705" message="Fetching bookings..."/>
		<db:select doc:name="Select" doc:id="429457b3-89eb-4dcf-89a1-cf12f0d98043" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from BookingInfo]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="317c19d2-0777-44dd-8065-590718c901fd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1f6c03a7-675b-4abb-905f-a0b7bcb50132" message="Fetched bookings..."/>
	</flow>
	<flow name="GET_BookingsByID" doc:id="5fea35f1-0b80-4b38-b046-2ddede4468ab" >
		<logger level="INFO" doc:name="Logger" doc:id="8a16cf15-aa0a-4a1f-a890-42187bc63304" message="Fetching booking by ID started..."/>
		<db:select doc:name="Select" doc:id="6d7d249f-4c90-481c-a2ab-09f07b8da646" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from BookingInfo where ID=:myID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	myID: attributes.uriParams.ID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="fac09d01-c7af-4955-826a-b8adc1814177" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="88b789ac-8f5c-416a-b81e-53a94d5e0087" message="Fetching booking by ID ended..."/>
	</flow>
	<flow name="POST_provider-cars-sysFlow" doc:id="6f61bfce-7008-4129-919b-d5b7c7a9ed8f" >
		<logger level="INFO" doc:name="Logger" doc:id="1e1ecdd1-c5f6-454e-9e33-e7f2d10fd6a4" message="Inserting bookings started..."/>
		<db:insert doc:id="23d8acf1-47b6-4794-a06c-0f69caa7cb55" config-ref="Database_Config" autoGenerateKeys="true" autoGeneratedKeysColumnNames="#[['ID']]">
			<db:sql ><![CDATA[Insert into BookingInfo (clientId,flightId,hotelId,carId,stayDaysCount) values
(:clientId,:flightId,:hotelId,:carId,:stayDaysCount)
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	clientId:payload.clientId,
	flightId:payload.flightId,
	hotelId:payload.hotelId,
	carId:payload.carId,
	stayDaysCount:payload.stayDaysCount default "1"
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="ae7ae3ea-e367-4fd7-8e90-32e459e5c3de" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{	
	"BookingID": payload.generatedKeys[0],
	"Status": 200,
	"message":"Booking successfully created...!"
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="da0339c0-02ed-4bc9-8d96-0bcedecd119a" message="Inserting bookings ended..."/>
	</flow>
	<flow name="PUT_Bookings" doc:id="7fd8301f-c74e-4540-bf18-72ea0b7d4fb9" >
		<logger level="INFO" doc:name="Logger" doc:id="52635066-e7d9-4df9-8396-1245f5c949df" message="Updating booking started..."/>
		<db:update doc:name="Update" doc:id="4708ee83-8e60-41be-8c39-762a1c98490c" config-ref="Database_Config">
			<db:sql ><![CDATA[update BookingInfo SET 
clientId = :clientId
,flightId = :flightId
,hotelId = :hotelId
,carId = :carId
,stayDaysCount = :stayDaysCount
Where ID = :myId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	clientId: payload.clientId,
	flightId: payload.flightId,
	hotelId: payload.hotelId,
	carId: payload.carId,
	stayDaysCount: payload.setDaysCount default "2",
	myId: attributes.uriParams.ID
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="ca870007-3077-491e-9847-84c528ef4887" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Status": 200,
	"message":"Bookings successfully updated...!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8e828eac-4e0c-4f3e-9519-56988fa9db1f" message="Updating booking ended..."/>
	</flow>
	<flow name="DELETE_Bookings" doc:id="5e917b43-e04d-4cdf-a9a2-aa4855a7c85b" >
		<logger level="INFO" doc:name="Logger" doc:id="3cc3cc38-222a-47bd-8153-1e0380553995" message="Deleting booking started..."/>
		<db:delete doc:name="Delete" doc:id="8abb1848-1c56-4188-ba94-681a15fae074" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from BookingInfo where ID=:myID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	myID: attributes.uriParams.ID
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="50909027-3e6c-48ae-8f80-db0f94abf7de" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Status": 200,
	"message":"Bookings deleted, kindly reschedule.."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4fae0a21-f876-4335-bec7-e867ef1083c6" message="Deleting booking deleted..."/>
	</flow>
</mule>
